.landing-background {
  background: url('images/Landing.jpg') no-repeat center fixed;
  background-size: cover;
  height: 967px;
  border: none;
}

.landing-header {
  color: white;
  font-size: 60px;
  padding-top: 100px;
}

.landing-body {
  color: white;
  font-size: 20px;
}

.spay-background {
  background: url('images/spayneuter.png') no-repeat center fixed;
  background-size: cover;
  height: 967px;
  border: none;
}

.ui.borderless.topmenu.menu {
  box-shadow: none;
  background: url('images/Landing.jpg') no-repeat center fixed;;
}