.landing-background {
  background: url('images/Landing.jpg') no-repeat center fixed;
  background-size: cover;
  height: 925px;
  border: none;
}

.landing-header {
  color: white;
  font-size: 60px;
  padding-top: 100px;
}

.landing-body {
  color: white;
  font-size: 20px;
}

.snatch-body {
    color: white;
    font-size: 20px;
}


.spay-background {
  background: url('images/spayneuter.png') no-repeat center fixed;
  background-size: cover;
  height: 925px;
  border: none;
}

.donations-background {
  background: url('images/donations-page-background.jpg') no-repeat center fixed;
  background-size: cover;
  height: 950px;
  border: none;
}

.snatch-background {
    background: url('images/snatch-background.png') no-repeat center fixed;
    background-size: cover;
    height: 950px;
    border: none;
}


.ui.borderless.topmenu.menu {
  box-shadow: none;
  background: url('images/Landing.jpg') no-repeat center fixed;
}
